<div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Customizable Dash App</h2>
            <p class="blog-post-meta">December, 2016 by <a href="https://twitter.com/eyobw">eyobw</a></p>

            <p>Customizable-Dash is a browser based client side dashboard feamework. The framework takes a dataset in JSON format and lets the user to design the dashboard, with certain flexibility such as, the user could draw frequency bar and pie charts, bar charts to compare prperties of datasets and line chart for sequencial data depending on the property of the dataset provided by the user.</p>
            <hr>
            
            <blockquote>
              <p> <strong>Upload your JSON data and from the side navigation bar click on the graph type you would like to draw </strong> </p>
              <img src="images/side_nav.png">
            </blockquote>
            <p>Sample<strong>Line Chart form</strong> looks like this, optionally use the filtering parameter to filter the data, and choose X and Y values for the chart. You can select as many y parameters as you like.
            <img src="images/prof_salary.png">
            </p>            
            <h3>Npm Install</h3>
            <p>If you wish to install the application on your computer, you need to have npm, grunt and bower installed on your computer. Then install all dependencies using the following command on terminal.</p>
            <pre><code>grunt build</code></pre>
            <pre><code>grunt serve </code></pre>
            <p>The application should start on your default browser at <a href="http://localhost:9000/#/">http://localhost:9000/#/</a></p>
            
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About Me</h4>
            <p>I am Eyob, Web developer, and I live in Finland.</p>
          </div>
          <div class="sidebar-module">
            <h4>My works</h4>
            <ol class="list-unstyled">
              <li><a href="https://etmdb.com">EtMDB</a></li>
              
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Links</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/eyobw">GitHub</a></li>
              <li><a href="https://twitter.com/eyobw">Twitter</a></li>
              <li><a href="https://facebook.com/eyobw">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
